.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: linear-gradient(#000000, #130126df);
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family:'Courier New', Courier, monospace; 
  color: white;
}

.App {
  color: white;
  min-height: 100vh;
  background: linear-gradient(#060117,#0b012a, #780351);
}

.Connection {
  background: linear-gradient(#e65959, #da8443df) !important;
  background: linear-gradient(#e8e8e8, #da8443df) !important;
  cursor: alias;
  color: rgb(4, 19, 57) !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.DaysList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Introduction{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.App-link {
  color: #09d3ac;
}
