.App-logo {
  height: 40vmin;
}

.App-header {
  background: linear-gradient(#ffffff80, #ffffff85, #ffffff);
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:'Courier New', Courier, monospace; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: rgb(99, 3, 21);
  text-shadow: rgb(222, 222, 225) 1px 2.1px 4.2px;
}

.App {
  color: white;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(#10023c,#03000c, #780351);
  background: linear-gradient(#10023c,#03000c, #780351, #08012f);
}

.Connection {
  background: linear-gradient(#e8e8e8, #da8443df) !important;
  color: rgb(4, 19, 57) !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Connection:hover{
  cursor: pointer;
  background: linear-gradient(#fffffff3, #d25e05) !important;
}

.DaysList {
  margin-top: 4.2% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
}

.Introduction {
  margin-bottom: 2.1%;
  font-family: Arial, Helvetica, sans-serif;
}

.Bootcamp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}
