.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: linear-gradient(#000000, #130126df);
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family:'Courier New', Courier, monospace; 
  color: white;
}

.App {
  min-height: 100vh;
  background: linear-gradient(#fefcfc, #310864fd);
}

.DaysList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.App-link {
  color: #09d3ac;
}
